# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Generated project files
arborescence.txt

# System files
.DS_Store
Thumbs.db